html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  -webkit-tap-highlight-color: transparent !important;
  touch-action: none !important;
}

.App {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #000;
  color: white;
  font-family: "Vazirmatn", sans-serif;
  position: relative;
}

.startScreen {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0c001f;
}

.startButton {
  padding: 15px 40px;
  font-family: "Sahel", sans-serif;
  font-size: 1.5rem;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.guideUser {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  gap: 20px;
  position: absolute;
  top: 20px;
  right: 15px;
  line-height: 0;
  font-size: 16px;
  color: goldenrod;
}

.guideUser p:first-child {
  color: darkred;
}

@media screen and (max-width: 768px) {
  .guideUser {
    bottom: 80px;
    gap: 2px;
    font-size: 10px;
    align-items: start;
    height: 40px;
  }
}
